{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="content">
    {% if user_group == 'applicant' %}
    <h2>Доступные вакансии</h2>
    <div class="container">
        {% for vacancy in vacancies %}
        <div class="card">
            <div>
                <h5>{{ vacancy.title }}</h5>
                <p>{{ vacancy.description}}</p>
            </div>
            <div>
                {% if vacancy.id in response_dict %}
                <a href="{% url 'jobreject' vacancy.id %}">Отменить отклик</a>
                {% else %}
                <a href="{% url 'jobconnect' vacancy.id %}">Откликнуться</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
        {% elif user_group == 'employer' %}
        <h2>Доступные резюме</h2>
    <div class="container">
        {% for position in positions %}
        <div class="card">
            <p>{{ position.title }} - {{ position.user.first_name }} {{ position.user.last_name }}</p>
            <div>
                {% if position.id in response_dict %}
                <a href="{% url 'reject' position.id %}">Отклонить приглашение</a>
                {% else %}
                <a href="{% url 'invite' position.id %}">Пригласить</a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
        {% else %}
        <p class="login">Чтобы найти работу необходимо войти <a href="{% url 'accounts:login' %}">войти</a>.</p>
        {% endif %}
    </div>
</div>

{% endblock %}