html{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.navbar {
    background-color: #ADD8E6; /* Цвет фона навигационной панели */
    border-bottom: 1px solid #ddd; /* Рамка снизу */
}

.navbar-brand img {
    max-height: 40px; /* Максимальная высота логотипа */
}

.navbar-nav .nav-link {
    color: #333; /* Цвет текста ссылок */
}

/* Стили для боковой панели */
.sidebar-nav {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin-top: 10px; /* Отступ сверху */
}

.sidebar-nav li {
    margin-bottom: 5px; /* Отступ между элементами списка */
}

/* Общие стили */
.container {
    max-width: 100%; /* Максимальная ширина контейнера */
    padding-right: 15px; /* Добавляем правый отступ */
    padding-left: 15px; /* Добавляем левый отступ */
    margin-right: auto; /* Выравниваем по центру по горизонтали */
    margin-left: auto; /* Выравниваем по центру по горизонтали */
    position: relative;
    min-height: 100%;
}

.container {

}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px 10px;
}

.card p{
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.login{
    background-color: #ADD8E6;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    text-align: center;
}